html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

/** 
 * Interface
 */
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: "VT323", monospace;
}

/** 
 * Time
 */
.time {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 10vh;
  background: #00000033;
  padding-top: 5px;
  text-align: center;
}

/** 
 * Restart
 */
.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 80px;
  background: #00000033;
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
}

/** 
 * Kayboard input
 */
.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .row {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 2px solid #ffffff88;
  background: #ffffff44;
}

.controls .key.large {
  width: 84px;
}

.controls .key.active {
  background: #0000ff80;
}
